.menu__list {
position: absolute;
width: 225px;
left: 0px;
top: 0px;
bottom: 2px;
margin: 0;
background: #fff;
/* Light Gray */

border: 0.5px solid #E7E9F0;
box-sizing: border-box;
box-shadow: 8px 8px 16px rgba(137, 143, 150, 0.04);
text-decoration: none;
padding-top: 50px;
list-style-type: none;
font-weight: 700;
line-height: 1.9;
}

.menu__list li:hover {
    color: #2196F3;
    transition: 0.3s;
}

.menu__list li {
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}

