.sidebar {
    height: 100%;
    width: 350px;
    background: #fff;
    border: .5px solid #E7E9F0;
    box-shadow: 8px 8px 16px rgba(137, 143, 150, 0.04);
    padding: 20px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu a {
    transition: .3s;
    padding: 10px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

.menu a:hover {
    color: #2196F3;
    background: #E3F2FD;
    border-radius: 4px;
}


.menu a.sidebarActiveLink {
    color: #2152f3;
    background: #E3F2FD;
    border-radius: 4px;
}
